h1 {
	text-align: center;
	font-size: 40px;
	font-family: Garamond;
	color: red;
	border: 3px solid purple;
	padding: 30px;
	line-height:;
	text-transform:;
}
p {
	font-size: 16px;
	font-family: Garamond;
	Color: #1f032e;
	border: 2px solid purple;
	margin: 50px;
}
body {
	background: powderblue;
}
ul {
	font-size: 16px;
	font-family: Garamond;
	text-align: center;
	color: purple;
	list-style-type: circle;
}
div {
	font-family: Garamond;
	text-align: center-left;
	color: purple;
}
img {
	max-width: 400px;
	height: auto;
	margin-right: auto;
	margin-left: auto;
	border: 2px black;
}
a:link {
	color: green;
	background-color: white;
	padding: 14px 25px;
	border: 2px double green;
	text-align: center;
	display: inline-block;
	text-decoration: none;
	font-family: monospace
}
a:visited {
	color: green;
	background-color: white;
	padding: 14px 25px;
	border: 2px double green;
	text-align: center;
	display: inline-block;
	text-decoration: none;
	font-family: monospace
}
a:hover {
	color: white;
	background-color: green;
	text-decoration: underline;
	font-family: monospace
}
a:active {
	color: white;
	background-color: green;
	text-decoration: underline;
	font-family: monospace
}